/*
 * Style dla INPUT range
 * Generatory:
 * - http://www.cssportal.com/style-input-range/
 * - http://danielstern.ca/range.css/
 */

input[type=range].vp-input {
    -webkit-appearance: none;
    width: 100%;
    margin: 2.5px 0;
    padding: 0;
}

input[type=range].vp-input:focus {
    outline: none;
}

input[type=range].vp-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
    background: #e4ecec;
    border-radius: 0px;
    border: 0px solid #010101;
}

input[type=range].vp-input::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(36, 150, 22, 0), 0px 0px 0px rgba(41, 172, 25, 0);
    border: 1px solid #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: rgba(48, 49, 52, 0.96);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2.5px;
}

input[type=range].vp-input:focus::-webkit-slider-runnable-track {
    background: #e7eeee;
}

input[type=range].vp-input::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
    background: #e4ecec;
    border-radius: 0px;
    border: 0px solid #010101;
}

input[type=range].vp-input::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(36, 150, 22, 0), 0px 0px 0px rgba(41, 172, 25, 0);
    border: 1px solid #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: rgba(48, 49, 52, 0.96);
    cursor: pointer;
}

input[type=range].vp-input::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].vp-input::-ms-fill-lower {
    background: #e1eaea;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}

input[type=range].vp-input::-ms-fill-upper {
    background: #e4ecec;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}

input[type=range].vp-input::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(36, 150, 22, 0), 0px 0px 0px rgba(41, 172, 25, 0);
    border: 1px solid #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: rgba(48, 49, 52, 0.96);
    cursor: pointer;
    height: 10px;
}

input[type=range].vp-input:focus::-ms-fill-lower {
    background: #e4ecec;
}

input[type=range].vp-input:focus::-ms-fill-upper {
    background: #e7eeee;
}

/*
 * Style dla kontrolek
 */

.vp-control {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 60px;*/
    padding: 0 0 2px 0;
    background-color: #030303;
    opacity: 0;
    border-top: 1px solid #ffffff;
    transition: all 300ms ease;
}

.vp-control:hover {
    opacity: 0.7;
}

.vp-row {
    padding: 5px 5px;
    width: auto;
}

.vp-btn {
    display: inline-block;
    font-family: Verdana;
    font-size: 14px;
    color: #e0e0e0;
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 0 5px 0 0;
    cursor: pointer;
}

.vp-btn:hover {
    background-color: #e0e0e0;
    color: #030303;
}

.vp-btn:last-child {
    margin: 0;
}

.vp-volume {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    width: 20%;
}

.vp-time {
    display: block;
    padding: 0px;
    cursor: pointer;
    width: auto;
}

.vp-play.vp-active {
    background-color: #249616;
}

.vp-pause.vp-active {
    background-color: #d69722;
}

.vp-stop.vp-active {
    background-color: #96352f;
}
