.vp-panel:fullscreen {
    width: 100% !important;
    height: 100% !important;
}

.vp-panel:fullscreen .vp-screen {
    width: 100% !important;
    height: 100% !important;
}

.vp-panel:fullscreen .vp-screen video {
    width: 100% !important;
    height: 100% !important;
}