.vp-list {
    overflow: auto;
    font-family: Verdana;
    font-size: 14px;
    background-color: #181818;
}

.vp-list-item {
    cursor: pointer;
    color: #e9e9e9;
    background-color: #404040;
    border: 1px solid #e9e9e9;
    padding: 5px 10px;
    margin: 5px;
}

.vp-list-item:hover {
    color: #404040;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
}

.vp-list-item.vp-active {
    background-color: #1f344e;
}